<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Space Hangman</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <audio loop autoplay>
        <source src="{{ url_for('static', filename='audios/Space Music.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <video autoplay muted loop id="myVideo">
        <source src="{{ url_for('static', filename='videos/galaxy.mp4') }}" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
    <div class="container">
        <h1>Space Hangman</h1>
        <h2 class="subfont">Guess the Word: {{ guessed_word }}</h2>
        <h3 class="subfont">Attempts left: {{ attempts_left }}</h3>
        
        {% if hint %}
        <div class="hint subfont">
            <strong>Hint:</strong> {{ hint }}
        </div>
        {% endif %}

        <form action="/guess" method="post">
            <input type="text" name="guess" placeholder="Enter a letter" maxlength="1" class="subfont-input">
            <button type="submit" class="subfont">Guess</button>
        </form>

        <form action="/hint" method="post">
            <button type="submit" class="subfont">Hint</button>
        </form>

        <form action="/play_again" method="post">
            <button type="submit" class="subfont">Play Again</button>
        </form>
    </div>
</body>

</html>